:root
{
    /* Color Palette */
    --dark: rgb(49, 52, 61);
    --light: rgb(146 203 206);
    --peach: #FFE5B4;
    --body-font: rgb(68 88 118);
}

*
{
font-family: sans-serif;

}



header
{
    background-color: var(--dark);
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    height: 65px;
    
}

main
{
    display: flex;
    flex-direction: column;
    color: var(--body-font);
    margin-bottom: 50px;
    

}

/* Formatting for Nav Bar Buttons and Caption*/
.navi ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    margin-right:50px;
    
    

}

.nav-button
{
    text-decoration: none;
    color: var(--light);
    border-bottom: var(--light);
    border-bottom: solid var(--light);
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    font-size: 1.15rem;
    font-weight: 1; 
}

.caption-box
{
    background-color: var(--light);
    padding-left: 50px;
    padding-right: 10px;
    margin-top: 0;
    margin-bottom:0;
    color: var(--dark);
    
}


/* Image and subtitle below top nav bar */

.page-cap
{
 background-image: linear-gradient(to bottom, var(--light), var(--peach));
 height: 200px;
 width: 100%;
 margin:0;
 display: flex;
 align-items: flex-end;
 justify-content: right;
}

 .big-row
 {
    display:flex;
    flex-direction:row;
    justify-content: center;
    
   
    
    
 }

.side-title
{
  text-align: right;
  margin-right: 5px;  
}

.card
{
    display:flex;
    align-items:flex-end;
    justify-content: left;
    margin:20px;
    background-image: linear-gradient(to bottom, teal, var(--peach));
    width: 46.9%;
    height: 150px;
    margin: 10px;
    flex-grow: 1;
    flex-shrink:1;
    border: solid 5px var(--light);
}

.work-title
{
    background-color: var(--light);
    margin-bottom: 10px;
    
}

.work-title h2
{
    padding:5px;
    margin:0;
}

.work-title p
{
    padding:5px;
    margin:0;
    font-size: 75%;
}

#sub
{
    padding:0;
    margin:0;
}

#sub h2
{
    background-color: var(--light);
    padding:8px;
    margin-right:40px;
    
}

#top-edge
{
    margin-top: 50px;
}

.row-body
{
    display:flex;
    border-left: 3px solid var(--body-font);
    padding-left: 25px;
    width: 70%;
    align-items: center;   
    justify-content: center; 
    flex-wrap:nowrap;


}

#about-tag
{
    margin-left: 28px;
    
}
#work-tag
{
    margin-top: 25px;
    margin-left: 24px;
    margin-bottom:25px;
}

#contact-tag
{
    margin-left: 0px;
}

#work-body
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cont-button
{
    text-decoration: none;
    color: black;
    border-bottom: solid var(--body-font);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    font-weight: 525;
    margin-left: 20px;
    margin-right: 20px;
}

#top-card
{
    width: 100%;
    height: 400px;
    padding: -2px;
}

.card:hover
{
    box-shadow: 0 0 20px var(--body-font), inset 0 0 20px yellow;
}
